
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceso</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico"/>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/line-icons.css" rel="stylesheet" />
    <link href="~/Content/css/slicknav.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>
<body>
    <section class="login section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12 col-xs-12">
                    <div class="login-form login-area">
                        <div class="text-center">
                            <img src="~/Content/img/Logo-vot.jpg" />
                        </div>
                        <div class="login-form">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-user"></i>
                                    <input type="text" id="Usuario" class="form-control" placeholder="Usuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-lock"></i>
                                    <input type="password" id="Clave" class="form-control" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="TipoUsuario">
                                    <label class="custom-control-label" for="TipoUsuario">Soy Estudiante</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="btnIngresar" class="btn btn-common log-btn">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/sweetalert2.min.js"></script>
    <script src="~/Content/js/script.js"></script>

    <script>
            $('#btnIngresar').click(function () {
                Acceso();
            });
    </script>

</body>
</html>
