
@{
    ViewBag.Title = "Gestion";
}

<h2>Gestion</h2>

<a href="@Url.Action("Crear","Votaciones")" class="btn btn-success">Nueva votación</a>
<p>Lista de votaciones creadas por el administrador</p>
<a href="@Url.Action("Editar","Votaciones")" class="btn btn-success">Editar votación</a>
