
@{
    ViewBag.Title = "Candidatos";
}

<h2>Candidatos</h2>

<button class="btn btn-success">Votar candidato A</button>
<button class="btn btn-success">Votar candidato B</button>
<button class="btn btn-success">Votar candidato C</button>
