
@{
    ViewBag.Title = "Candidatos";
}

<div class="col-lg-12">
    <h2>Candidatos de Votación - ID: 1 </h2>
</div>


<div class="row justify-content-center">
    <div class="col-lg-10 col-md-15 col-xs-13 thead menu-bg">
        <div class="login-form login-area">
            <form role="form" class="login-form">
                <div class="form-group">
                    <table class="table">
                        <thead class="thead bg-blue">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Número Carnet</th>
                                <th scope="col">Votos Obtenidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Joselin Hernández</td>
                                <td>57060118</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Isaac González</td>
                                <td>57060118</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <a href="/Inicio/Gestion" class="btn btn-danger m-3 float-right">Regresar</a>
        </div>
    </div>
</div>

<div class="toggler">
    <h4>  </h4>
</div>


