
@{
    ViewBag.Title = "Votar";
}

<div class="col-lg-12">
    <h2 id="nombreEleccion"></h2>
</div>

<div class="row justify-content-center">
    <div class="col-lg-10 col-md-15 col-xs-13 thead menu-bg">
        <div class="login-form login-area">
                <section class="section-padding">
                    <div class="container">
                        <div class="col-12 text-center">
                            <div class="heading">
                                <h6 class="section-title">¿Por quien deseas votar?</h6>
                            </div>
                        </div>
                        <div class="row" id="datosTablaCandidatos">


                            <div class="col-lg-3 col-md-4 col-xs-13">
                               <div onclick="VotoRealizado()" class="category-icon-item lis-bg1">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="lni-user"></i>
                                        </div>
                                        <h4>Joselin Hernandez</h4>
                                        <p class="categories-listing">Cod. Grupo: 101</p>
                                        <p class="categories-listing">Carnet: 57060118</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                    <div onclick="VotoRealizado()"  class="category-icon-item lis-bg1">
                                        <div class="icon-box">
                                            <div class="icon">
                                                <i class="lni-user"></i>
                                            </div>
                                            <h4>Eduardo Castillo</h4>
                                            <p class="categories-listing">Cod. Grupo: 101</p>
                                            <p class="categories-listing">Carnet: 57060118</p>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                        <div class="category-icon-item lis-bg8">
                                            <div class="icon-box">
                                                <div class="icon">
                                                    <i class="lni-user"></i>
                                                </div>
                                                <h4>Fernando Perez</h4>
                                                <p class="categories-listing">Cod. Grupo: 123</p>
                                                <p class="categories-listing">Carnet: 57060118</p>
                                            </div>
                                        </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                    <div class="category-icon-item lis-bg12">
                                        <div class="icon-box">
                                            <div class="icon">
                                                <i class="lni-user"></i>
                                            </div>
                                            <h4>Isaac Gonzalez</h4>
                                            <p class="categories-listing">Cod. Grupo: 101</p>
                                            <p class="categories-listing">Carnet: 57060118</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</div>

<script>
        function VotoRealizado(){
            Swal.fire({
            type: 'success',
            title: '¡Voto Realizado!',
            text: 'Gracias por tu fe ciega en alguien que luego ni se va acordar de vos.'
            }).then((result) => {
                    location.href = '/inicio/votaciones';
            })
        }
</script>

@section scripts{
<script>
        $(document).ready(function () {
            NombreVotacionActual();
        });
</script>
}