
@{
    ViewBag.Title = "Votar";
}

<div class="col-lg-12">
    <h2>Candidatos - Elección Representante Sección</h2>
</div>

<div class="row justify-content-center">
    <div class="col-lg-10 col-md-15 col-xs-13 thead menu-bg">
        <div class="login-form login-area">
            <form role="form" class="login-form">
                <div class="col-12 text-center">
                </div>
                <section class="section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="heading">
                                    <h6 class="section-title">¿Por quien deseas votar?</h6>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                <a data-target="#votarModal" data-toggle="modal" data-placement="top" runat="server" CssClass="btn btn-default">
                                <div class="category-icon-item lis-bg1">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="lni-user"></i>
                                        </div>
                                        <h4>Joselin Hernandez</h4>
                                        <p class="categories-listing">Cod. Grupo: 101</p>
                                        <p class="categories-listing">Carnet: 57060118</p>
                                    </div>
                                </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                <a data-target="#votarModal" data-toggle="modal" data-placement="top" runat="server" CssClass="btn btn-default">
                                    <div class="category-icon-item lis-bg1">
                                        <div class="icon-box">
                                            <div class="icon">
                                                <i class="lni-user"></i>
                                            </div>
                                            <h4>Eduardo Castillo</h4>
                                            <p class="categories-listing">Cod. Grupo: 101</p>
                                            <p class="categories-listing">Carnet: 57060118</p>
                                        </div>
                                    </div>
                                    </a>
                                </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                <a data-target="#votarModal" data-toggle="modal" data-placement="top" runat="server" CssClass="btn btn-default">
                                        <div class="category-icon-item lis-bg8">
                                            <div class="icon-box">
                                                <div class="icon">
                                                    <i class="lni-user"></i>
                                                </div>
                                                <h4>Fernando Perez</h4>
                                                <p class="categories-listing">Cod. Grupo: 123</p>
                                                <p class="categories-listing">Carnet: 57060118</p>
                                            </div>
                                        </div>
                                    </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-13">
                                <a data-target="#votarModal" data-toggle="modal" data-placement="top" runat="server" CssClass="btn btn-default">
                                    <div class="category-icon-item lis-bg12">
                                        <div class="icon-box">
                                            <div class="icon">
                                                <i class="lni-user"></i>
                                            </div>
                                            <h4>Isaac Gonzalez</h4>
                                            <p class="categories-listing">Cod. Grupo: 101</p>
                                            <p class="categories-listing">Carnet: 57060118</p>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="votarModal" tabindex="-1" role="dialog" aria-labelledby="modalVotar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVotar" style="color: red">¡Enhorabuena!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Borrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Gracias por votar
            </div>
            <div class="modal-footer">
                <a href="../Inicio/Votaciones" class="btn btn-danger">Cerrar</a>
            </div>
        </div>
    </div>
</div>

